@import 'mixins', 'colors', 'variables';

#form-layout {
  width: 100vw;
  height: 100vh;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    padding: 20px 40px;
    background-color: white;
    border-radius: 12px;
    width: 90%;

    @include responsive($sm) {
      width: 500px;
    }
  }
}
