<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="form-control">
      <input
        type="text"
        formControlName="fullName"
        id="full-name"
        [ngClass]="{ 
          'valid-input': !fullName!.errors?.['required'], 
          'invalid-input': fullName!.touched && fullName!.errors
        }"
        maxlength="50"
      />
      <label
        for="full-name"
        [ngClass]="{ 
          'valid-label': !fullName!.errors?.['required'], 
          'invalid-label': fullName!.touched && fullName!.errors
        }"
      >
        Nombre completo
      </label>
      <div class="error-alert" *ngIf="fullName!.touched">
        <p *ngIf="fullName!.errors?.['required']">El campo es requerido.</p>
        <p *ngIf="fullName!.errors?.['minlength']">El nombre es demasiado corto.</p>
        <p *ngIf="fullName!.errors?.['pattern']">El nombre tiene caracteres no permitidos.</p>
      </div>
    </div>
    <button *ngIf="id !== 1" class="delete-button" type="button" (click)="onDelete()">
      <i class="fa-regular fa-trash-can"></i>
    </button>
  </div>
  <div class="row" id="flex-container">
    <div class="col">
      <div class="form-control">
        <select
          id="kinship-select"
          formControlName="kinship"
          [ngClass]="{ 
            'valid-input': !kinship!.errors?.['required'], 
            'invalid-input': kinship!.touched && kinship!.errors?.['required']
          }"
        >
          <option value disabled selected></option>
          <option value="Padre">Padre</option>
          <option value="Madre">Madre</option>
          <option value="Hijo">Hijo</option>
          <option value="Hija">Hija</option>
          <option value="Abuelo">Abuelo</option>
          <option value="Abuela">Abuela</option>
          <option value="Nieto">Nieto</option>
          <option value="Nieta">Nieta</option>
          <option value="Tío">Tío</option>
          <option value="Tía">Tía</option>
          <option value="Sobrino">Sobrino</option>
          <option value="Sobrina">Sobrina</option>
        </select>
        <label
          for="kinship-select"
          [ngClass]="{ 
            'valid-label': !kinship!.errors?.['required'], 
            'invalid-label': kinship!.touched && kinship!.errors?.['required']
          }"
          >Parentesco</label
        >
        <i
          class="fa-solid fa-chevron-down"
          [ngClass]="{ 
            'valid-icon': !kinship!.errors?.['required'], 
            'invalid-icon': kinship!.touched && kinship!.errors?.['required']
          }"
        ></i>

        <div *ngIf="kinship!.touched && kinship!.errors?.['required']" class="error-alert">
          <p>El campo es requerido.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-control">
        <input
          type="text"
          formControlName="percentage"
          maxlength="4"
          [ngClass]="{ 
            'valid-input': !percentage!.errors?.['required'], 
            'invalid-input': percentage!.touched && percentage!.errors?.['required'] || invalidPercentage
          }"
        />
        <label
          [ngClass]="{ 
            'valid-label': !percentage!.errors?.['required'], 
            'invalid-label': percentage!.touched && percentage!.errors?.['required'] || invalidPercentage
          }"
          >Porcentaje
        </label>
        <div *ngIf="percentage!.touched" class="error-alert">
          <p *ngIf="percentage!.errors?.['required']">El campo es requerido.</p>
          <p *ngIf="invalidPercentage">Porcentaje invalido.</p>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" style="display: none"></button>
</form>
