@import 'mixins', 'colors', 'variables';

#form-layout {
  width: 100vw;
  height: calc(100vh - 67px);
  background-color: $background;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  .container {
    margin-block: auto;
    height: fit-content;
    padding: 30px;
    width: 100%;
    @include responsive($sm) {
      width: 600px;
    }
  }

  .content {
    padding: 20px 40px;
    background-color: white;
    border-radius: 12px;
    width: 100%;
    height: fit-content;
  }
}
